<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<li>
    <a href="https://soundcloud.com/bassreflections" itemprop="sameAs">
      <i class="fab fa-soundcloud" aria-hidden="true"></i> SoundCloud
    </a>
  </li>

<li>
    <a href="https://www.mixcloud.com/bassreflections/" itemprop="sameAs">
      <i class="fab fa-mixcloud" aria-hidden="true"></i> Mixcloud
    </a>
  </li>

<li>
    <a href="https://nsbradio.co.uk" itemprop="sameAs">
      <i class="fas fa-headphones" aria-hidden="true"></i> NSB Radio
    </a>
  </li>
